<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <h3 style="text-align:center">To Do</h3>
    <%= render @todo %>
    <br>

  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <h3 style="text-align:center">Doing</h3>
    <%= render @doing %>

  </div>  
  <div class="mdl-cell mdl-cell--4-col">
    <h3 style="text-align:center">Done</h3>
    <%= render @done %>

  </div>  
</div>

<%= link_to '<paper-button raised>New Task</paper-button>'.html_safe, new_task_path %>
