<br>
<br>
<div class="ui main stackable grid container">
  <div class="one wide column"></div>
  <div class="five wide column">
    <div class="ui header">To Do</div>
    <div class="ui cards">
      <%= render @to_do %>
    </div>
  </div>
  <div class="five wide centered column">
    <div class="ui header">Doing</div>
    <div class="ui cards">
      <%= render @doing %>
    </div>
  </div>
  <div class=" five wide centered column">
    <div class="ui header">Done</div>
    <div class="ui cards">
      <%= render @done %>
    </div>
  </div>
  <div class="one wide column"></div>
 <%= link_to 'New Task', new_task_path, class: 'ui primary button' %>  
</div>

