<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col">
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
			
		</table>
		
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
			
		</table>
		
	</div>	
	<div class="mdl-cell mdl-cell--4-col">
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
			
		</table>
		
	</div>	
</div>