<br>
<br>
<br>
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col" style="text-align:center">
  		<h2>StukDo</h2>
  		<br>
  		<span> A Ruby on Rails based to-do list application</span>
  		<br>
  		<br>
  		<br>
  		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
  Get Started
</button>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
<br>
<br>
<br>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col" style="text-align:center">
  	<i class="material-icons md-48">list</i><br>
  		<p>List all your tasks. Never forget anything.</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col" style="text-align:center">
  		<i class="material-icons md-48">bookmark</i><br>
  		<p>Keep record of your projects. Get reminded of tasks regularly.</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col"  style="text-align:center">
  	<i class="material-icons md-48">done</i><br>
  		<p>Feel accomplished by completeing tasks on time.</p>
  </div>
</div>
