<br>
<br>
<br>
<br>
<br>
<div class="ui center aligned main text fluid container">
	<h1 class="ui huge header">StukDo</h1>
	<h2>A Ruby on Rails based to-do list application.</h2>
	
	<%= link_to new_user_registration_path do %>
		<div class="ui primary button">
			Get Started <i class="fa fa-arrow-right"></i>
		</div>
		<% end %>
		
	
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="ui stackable center aligned three column grid">
	
	<div class="column">

		<h5 class="ui icon header">
			<i class='list icon'></i>
			<div class="content">
				List all your tasks. Never forget anything.			
			</div>
		</h5>
		
	</div>
	<div class="column">
		<h5 class="ui icon header">
			<i class="bookmark icon"></i>
			<div class="content">
				Keep record of your projects. Get reminders regularly.</div>
			</h5>

		</div>
		<div class="column">
			<h5 class="ui icon header">
				<i class='checkered flag icon'></i>
				<div class="content">
					Feel accomplished by completing tasks on time.
				</div>
			</h5>

		</div>


	</div>