<!-- Header -->
<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<!-- Logo -->
		<i class="material-icons">today</i>
		<!-- Title -->
		<span class="mdl-layout-title">Stukdo</span>
		<!-- Add Spacer to align links to right -->
		<div class="mdl-layout-spacer"></div>
		<nav class="mdl-navigation mdl-layout--large-screen-only">
			<a class="mdl-navigation__link" href="#">Tasks</a>
			<a class="mdl-navigation__link" href="#">Login</a>
			<a class="mdl-navigation__link" href="#">SignUp</a>
		</nav>
		
	</div>
</header>	
<div class="mdl-layout__drawer">
	<!-- Logo -->
	<!-- <i class="material-icons">today</i> -->
	<!-- Title -->
	<span class="mdl-layout-title">Stukdo</span>

	<nav class="mdl-navigation">
		<a class="mdl-navigation__link" href="#">Tasks</a>
		<a class="mdl-navigation__link" href="#">Login</a>
		<a class="mdl-navigation__link" href="#">SignUp</a>
	</nav>

</div>






