<paper-toolbar>
<a href="/" class="logo" layout horizontal id='brand'>StukDo</a>
  <span class='flex'></span>
  <paper-toolbar layout horizontal right>
  <paper-button borderless sink>Tasks</paper-button>
  <paper-button borderless sink>Settings</paper-button>
  <paper-button borderless sink>Logout</paper-button>
</paper-toolbar>
<paper-icon-button icon="menu" id='dropdown-toggle' role='brand'></paper-icon-button>
<paper-dropdown>
  <paper-item>Tasks</paper-item>
  <paper-item>Settings</paper-item>
  <paper-item>Logout</paper-item>
</paper-dropdown>
</paper-toolbar>

